body {
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: .9e/1.2 Arial, Helvetica, sans-serif;

}

h1 {
    text-align: center;
    color:#181247;
    line-height: 100px;
}

.container{
    display: grid;
    grid-template-columns: 200px 2fr 2fr;
    grid-gap: 9px;

}

.container > div {
    border: solid #008B8B 1px;
    border-radius: 7px;
    background-color: #98FB98;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 4fr);
    grid-column-gap:10px;
    grid-row-gap: 1em ;
}

.box1{
    border: solid #0f6d3f;
    background-color: rgb(74, 202, 101);
}

.box1 > div{
    border-radius: 6px;
    padding: 16px;
    background-color: #c42386;
    border: 1px solid #050a1d;

}

.box1{
    grid-column-start: 1    ; 
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}



.wrapper > div{
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(226, 233, 187);
    border: 2px solid rgb(2, 26, 8);
}

.flexwrapper {
    display: flex;
    align-items: flex-end;
    min-height: 150px;
}

.flexwrapper > div{
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(170, 98, 15);
    border: 2px solid rgb(5, 26, 10);

}

.flexbox1 {
    align-self: stretch;
}

.flexbox2 {
    align-self: flex-start;
}

.flexbox3 {
    align-self: stretch;
}

.gridwrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    grid-auto-rows: 100px;
}

.gridwrapper > div {
    border-radius: 5px;
    padding: 25px;
    background-color: rgb(41, 19, 138);
    border: 5px solid rgb(255, 255, 255);

}
.gridbox1 {
    align-self: stretch;
}

.gridbox2 {
    align-self: end;
}
/*.gridbox2 {
    align-self: start;
}*/
.gridbox3 {
    align-self: stretch;
}